<a href="https://colab.research.google.com/github/RafaEnricoo/JOBSHEET1_PBO_2025/blob/main/jobsheet_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 01: Tipe data dasar

In [41]:
# 1. Number (int, float, complex)
# Integer (int)
angka_int = 10
print("angka_int =", angka_int, "->", type(angka_int))

# Float
angka_float = 3.14
print("angka_float =", angka_float, "->", type(angka_float))

# Complex
angka_complex = 2 + 3j
print("angka_complex =", angka_complex, "->", type(angka_complex))

print("")
print("noted:")
print("Integer adalah tipe data yang digunakan untuk menyimpan bilangan bulat (tanpa desimal), baik positif maupun negatif")
print("Float adalah tipe data yang digunakan untuk menyimpan bilangan desimal atau pecahan, seperti 3.14 atau 2.71828. ")
print("Complex adalah tipe data untuk bilangan yang terdiri dari bilangan bulat dan bilangan imajiner")

angka_int = 10 -> <class 'int'>
angka_float = 3.14 -> <class 'float'>
angka_complex = (2+3j) -> <class 'complex'>

noted:
Integer adalah tipe data yang digunakan untuk menyimpan bilangan bulat (tanpa desimal), baik positif maupun negatif
Float adalah tipe data yang digunakan untuk menyimpan bilangan desimal atau pecahan, seperti 3.14 atau 2.71828.
Complex adalah tipe data untuk bilangan yang terdiri dari bilangan bulat dan bilangan imajiner

In [45]:
# 2. Boolean
is_active = True
print("is_active =", is_active, "->", type(is_active))

print("")
print("noted:")
print("Tipe data Boolean adalah tipe data yang hanya memiliki dua nilai, yaitu true (benar) atau false (salah). ")

is_active = True -> <class 'bool'>

noted:
Tipe data Boolean adalah tipe data yang hanya memiliki dua nilai, yaitu true (benar) atau false (salah).

In [46]:
# 3. String
teks = "Hello, Python!"
print("teks =", teks, "->", type(teks))

print("")
print("noted:")
print("Tipe data String adalah tipe data pemrograman yang dapat menyimpan kumpulan karakter, angka, tanggal, atau waktu.")

teks = Hello, Python! -> <class 'str'>

noted:
Tipe data String adalah tipe data pemrograman yang dapat menyimpan kumpulan karakter, angka, tanggal, atau waktu.

In [29]:
# 4. List
# List adalah tipe data terurut dan dapat diubah (mutable)
daftar_angka = [1, 2, 3, 4, 5]
print("daftar_angka =", daftar_angka, "->", type(daftar_angka))

print("")
print("noted:")
print("Tipe data list adalah tipe data yang digunakan untuk menyimpan beberapa item dalam satu variabel secara berurutan.")

daftar_angka = [1, 2, 3, 4, 5] -> <class 'list'>

noted:
Tipe data list adalah tipe data yang digunakan untuk menyimpan beberapa item dalam satu variabel secara berurutan.

In [47]:
# 5. Tuple
# Tuple adalah tipe data terurut tetapi tidak dapat diubah (immutable)
koordinat = (10, 20)
print("koordinat =", koordinat, "->", type(koordinat))

print("")
print("noted:")
print("Tipe data tuple adalah tipe data yang digunakan untuk menyimpan kumpulan nilai atau data yang terurut dan tidak dapat diubah.")

koordinat = (10, 20) -> <class 'tuple'>

noted:
Tipe data tuple adalah tipe data yang digunakan untuk menyimpan kumpulan nilai atau data yang terurut dan tidak dapat diubah.

In [49]:
# 6. Dictionary
# Dictionary menyimpan data dalam pasangan key-value
data_mahasiswa = {
     "nama": "Andi",
     "nim": "A11.2022.12345",
     "jurusan": "Teknik Informatika"
}
print("data_mahasiswa =", data_mahasiswa, "->", type(data_mahasiswa))

print("")
print("noted:")
print("Tipe data dictionary adalah tipe data yang menyimpan pasangan kunci-nilai (key-value).")
print("Dictionary berguna untuk menyimpan dan mengelola data secara efisien.")

data_mahasiswa = {'nama': 'Andi', 'nim': 'A11.2022.12345', 'jurusan': 'Teknik Informatika'} -> <class 'dict'>

noted:
Tipe data dictionary adalah tipe data yang menyimpan pasangan kunci-nilai (key-value).
Dictionary berguna untuk menyimpan dan mengelola data secara efisien.

In [55]:
# 7. Set
# Set adalah tipe data yang tidak terurut, unik (tiap elemen hanya muncul 1x)
himpunan_angka = {1, 2, 3, 2, 1}
print("himpunan_angka =", himpunan_angka, "->", type(himpunan_angka))

print("")
print("noted:")
print("Tipe data Set adalah tipe data kolektif yang berisi elemen-elemen unik, tidak terurut, dan tidak bisa diubah setelah dibuat")

himpunan_angka = {1, 2, 3} -> <class 'set'>

noted:
Tipe data Set adalah tipe data kolektif yang berisi elemen-elemen unik, tidak terurut, dan tidak bisa diubah setelah dibuat

In [56]:
# 8. Contoh penggunaan konversi tipe data
nilai_str = "100"
print("\nnilai_str =", nilai_str, "->", type(nilai_str))
nilai_int = int(nilai_str)  # konversi string ke integer
print("nilai_int =", nilai_int, "->", type(nilai_int))

print("")
print("noted:")
print("Konversi tipe data adalah proses mengubah data dari satu tipe data ke tipe data lain.")

nilai_str = 100 -> <class 'str'>
nilai_int = 100 -> <class 'int'>

noted:
Konversi tipe data adalah proses mengubah data dari satu tipe data ke tipe data lain.

# Praktikum 02: Variabel dan Operasi dasar

In [ ]:
# 1. Pendeklarasian Variabel
nama = "Budi"
umur = 20
tinggi = 170.5
is_student = True

print("Nama =", nama)
print("Umur =", umur)
print("Tinggi =", tinggi, "cm")
print("Mahasiswa =", is_student)
#Python tidak memerlukan deklarasi tipe data secara eksplisit.
# Tipe data variabel akan menyesuaikan nilai yang diberikan.

In [ ]:
# 2. Operasi Aritmetika
a = 10 19: b = 3

penjumlahan = a + b      # Tambah
pengurangan = a - b      # Kurang
perkalian = a * b        # Kali
pembagian = a / b        # Bagi (hasil float)
pembagian_bulat = a // b # Bagi (bulat)
modulus = a % b          # Sisa bagi
pangkat = a ** b         # Pemangkatan

print("\nOPERASI ARITMETIKA")
print("a =", a, ", b =", b)
print("Penjumlahan =", penjumlahan)
print("Pengurangan =", pengurangan)
print("Perkalian =", perkalian)
print("Pembagian =", pembagian)
print("Pembagian Bulat =", pembagian_bulat)
print("Modulus =", modulus)
print("Pangkat =", pangkat)

In [ ]:
# 3. Operasi Perbandingan
# Menghasilkan nilai Boolean (True/False)
lebih_besar = a > b
kurang_dari = a < b
sama_dengan = a == b
tidak_sama = a != b
lebih_besar_sama = a >= b
kurang_sama = a <= b

print("\nOPERASI PERBANDINGAN")
print("a > b =", lebih_besar)
print("a < b =", kurang_dari)
print("a == b =", sama_dengan)
print("a != b =", tidak_sama)
print("a >= b =", lebih_besar_sama)
print("a <= b =", kurang_sama)

In [ ]:
# 4. Operasi Logika 57:
# and, or, not
x = True
y = False
logika_and = x and y
logika_or = x or y
logika_not_x = not x

print("\nOPERASI LOGIKA")
print("x =", x, ", y =", y)
print("x and y =", logika_and)
print("x or y =", logika_or)
print("not x =", logika_not_x)

In [54]:
# 5. Contoh penggunaan di dalam percabangan
if a > b and b > 0:
    print("\nKondisi terpenuhi: a lebih besar dari b, dan b masih positif.")
else:
    print("\nKondisi tidak terpenuhi atau b <= 0.")

NameError: name 'a' is not defined

# Praktikum 03: Percabangan

In [40]:
# 1. IF Sederhana
# Program hanya mengeksekusi blok jika kondisinya True

nilai = 85
print("Contoh IF Sederhana:")
if nilai > 80:
     print("Selamat! Anda lulus dengan nilai tinggi.\n")

Contoh IF Sederhana:
Selamat! Anda lulus dengan nilai tinggi.

In [39]:
# 2. IF-ELSE
# Jika kondisi True, eksekusi blok if; jika False, eksekusi blok else 14:
umur = 17
print("Contoh IF-ELSE:")
if umur >= 18:
    print("Anda sudah cukup umur untuk mendapatkan SIM.")
else:
    print("Anda belum cukup umur untuk mendapatkan SIM.\n")

Contoh IF-ELSE:
Anda belum cukup umur untuk mendapatkan SIM.

In [ ]:
# 3. IF-ELIF-ELSE
# Menangani banyak kondisi secara berurutan.
# Jika ada kondisi yang terpenuhi, blok yang bersangkutan dieksekusi, 26: # lalu program melewati blok kondisi setelahnya.

hari = "Rabu"
print("Contoh IF-ELIF-ELSE:")
if hari == "Senin":
    print("Hari Senin - Saatnya kembali bekerja!")
elif hari == "Selasa":
    print("Hari Selasa - Jadwal rapat mingguan.")
elif hari == "Rabu":
    print("Hari Rabu - Ada diskon di beberapa toko.")
else:
    print("Hari lainnya - Atur jadwalmu dengan baik.\n")

In [37]:
# 4. IF Bersarang (Nested IF)
# Kondisi di dalam kondisi, biasa digunakan jika kita perlu 42: # memeriksa sub-kondisi setelah kondisi pertama terpenuhi.

suhu = 35
print("Contoh IF Bersarang (Nested IF):")
if suhu > 30:
    print("Cuaca cukup panas.")
    if suhu > 40:
        print("Bahkan sangat terik! Disarankan banyak minum air.")
    else:
        print("Masih relatif normal, tapi tetap jaga kesehatan.")
else:
    print("Cuaca sepertinya cukup sejuk.\n")

Contoh IF Bersarang (Nested IF):
Cuaca cukup panas.
Masih relatif normal, tapi tetap jaga kesehatan.

In [ ]:
# 5. Menggabungkan Percabangan dengan Operasi Logika
# Memeriksa beberapa kondisi sekaligus dengan and, or, not

nilai_teori = 75
nilai_praktik = 80
print("Contoh IF dengan Operasi Logika AND/OR:")
if nilai_teori >= 70 and nilai_praktik >= 70:
    print("Anda lulus karena nilai teori dan praktik memadai.")
elif nilai_teori < 70 and nilai_praktik < 70:
    print("Anda perlu meningkatkan nilai teori dan praktik.")
elif nilai_teori < 70:
    print("Anda perlu meningkatkan nilai teori.")
else:
    print("Anda perlu meningkatkan nilai praktik.\n")

In [ ]:
# 6. Penggunaan If Ternary (atau Conditional Expression)
# Bentuk ringkas: <hasil_if_true> if <kondisi> else <hasil_if_false> 74:
angka = -5
print("Contoh If Ternary (Conditional Expression):")
status = "Positif" if angka > 0 else "Negatif atau Nol"
print("Angka =", angka, "=>", status)

# Praktikum 04: Perulangan

In [ ]:
# 1. FOR Loop dengan range()
print("1) FOR loop dengan range()")
for i in range(5):
    print("Perulangan ke-", i)
# range(5) menghasilkan nilai 0, 1, 2, 3, dan 4
# Sehingga perulangan akan berjalan sebanyak 5 kali

print()  # pemisah output

In [ ]:
# 2. FOR Loop untuk mengiterasi List
print("2) FOR loop mengiterasi list")
buah = ["apel", "mangga", "jeruk", "pisang"]
for item in buah:
    print("Buah:", item)
# Loop akan mengeksekusi setiap elemen dalam list "buah"

print()

In [38]:
# 3. WHILE Loop
print("3) WHILE loop sederhana")
count = 0
while count < 5:
    print("count =", count)
    count += 1  # increment
# Perulangan while terus dijalankan selama kondisi (count < 5) bernilai
True

print()

3) WHILE loop sederhana
count = 0
count = 1
count = 2
count = 3
count = 4

In [ ]:
# 4. BREAK pada Loop
print("4) BREAK di dalam loop")
for i in range(10):
    if i == 3:
        print("Loop dihentikan pada i =", i)
        break  # mengakhiri loop saat i = 3
    print("i =", i)
# Keyword break langsung menghentikan keseluruhan perulangan

print()

In [ ]:
# 5. CONTINUE pada Loop
print("5) CONTINUE di dalam loop")
for i in range(5):
    if i == 2:
        print("Lewati i =", i, "dengan continue")
        continue  # melewati iterasi saat ini dan lanjut ke iterasi berikutnya
    print("i =", i)
# Saat i = 2, baris print("i =", i) tidak akan dieksekusi

print()

In [ ]:
# 6. NESTED Loop (Loop Bersarang)
print("6) NESTED loop")
for i in range(3):            # Loop luar (outer loop)
    for j in range(2):        # Loop dalam (inner loop)
        print(f"i={i}, j={j}")
# Pada setiap iterasi i, loop j akan berjalan dari 0 sampai 1

print()

In [ ]:
# 7. Memanfaatkan ELSE pada Loop
print("7) ELSE pada loop for/while")
# Python memiliki fitur unik: blok else pada loop
# Blok else akan dieksekusi jika loop selesai tanpa di-break.

for x in range(3):
  print("x =", x)
else:
    print("Loop for telah selesai tanpa break.\n")

y = 0
while y < 3:
    print("y =", y)
    y += 1
else:
    print("Loop while telah selesai tanpa break.\n")

In [ ]:
# 8. PASS sebagai placeholder
print("8) PASS (placeholder)")
for i in range(3):
    if i == 1:
        pass  # pass tidak melakukan apa-apa, digunakan sebagai placeholder
    print("i =", i)