<a href="https://colab.research.google.com/github/RafaEnricoo/JOBSHEET1_PBO_2025/blob/main/jobsheet_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Praktikum 01: Tipe data dasar

In [14]:
# 1. Number (int, float, complex)
# Integer (int)
angka_int = 10
print("angka_int =", angka_int, "->", type(angka_int))

# Float
angka_float = 3.14
print("angka_float =", angka_float, "->", type(angka_float))

# Complex
angka_complex = 2 + 3j
print("angka_complex =", angka_complex, "->", type(angka_complex))

print("")
print("noted:")
print("Integer adalah tipe data untuk bilangan Bulat")
print("Float adalah tipe data untuk bilangan Desimal/koma")
print("Complex adalah tipe data untuk bilangan yang terdiri dari bilangan bulat dan bilangan imajiner")

angka_int = 10 -> <class 'int'>
angka_float = 3.14 -> <class 'float'>
angka_complex = (2+3j) -> <class 'complex'>

noted:
Integer adalah tipe data untuk bilangan Bulat
Float adalah tipe data untuk bilangan Desimal/koma
Complex adalah tipe data untuk bilangan yang terdiri dari bilangan bulat dan bilangan imajiner

In [15]:
# 2. Boolean
is_active = True
print("is_active =", is_active, "->", type(is_active))

print("")
print("noted:")
print("Tipe data Boolean adalah tipe data yang bernilai True atau False")

is_active = True -> <class 'bool'>

noted:
Tipe data Boolean adalah tipe data yang bernilai True atau False

In [16]:
# 3. String
teks = "Hello, Python!"
print("teks =", teks, "->", type(teks))

print("")
print("noted:")
print("Tipe data String adalah tipe data yang menyimpan nilai huruf/Alfhabet")

teks = Hello, Python! -> <class 'str'>

noted:
Tipe data String adalah tipe data yang menyimpan nilai huruf/Alfhabet

In [9]:
# 4. List
# List adalah tipe data terurut dan dapat diubah (mutable)
daftar_angka = [1, 2, 3, 4, 5]
print("daftar_angka =", daftar_angka, "->", type(daftar_angka))

print("")
print("noted:")
print("Tipe data list adalah tipe data yang digunakan untuk menyimpan beberapa item dalam satu variabel secara berurutan.")

daftar_angka = [1, 2, 3, 4, 5] -> <class 'list'>

In [10]:
# 5. Tuple
# Tuple adalah tipe data terurut tetapi tidak dapat diubah (immutable)
koordinat = (10, 20)
print("koordinat =", koordinat, "->", type(koordinat))

print("")
print("noted:")
print("Tipe data tuple adalah tipe data yang digunakan untuk menyimpan kumpulan nilai atau data yang terurut dan tidak dapat diubah.")

koordinat = (10, 20) -> <class 'tuple'>

In [11]:
# 6. Dictionary
# Dictionary menyimpan data dalam pasangan key-value
data_mahasiswa = {
     "nama": "Andi",
     "nim": "A11.2022.12345",
     "jurusan": "Teknik Informatika"
}
print("data_mahasiswa =", data_mahasiswa, "->", type(data_mahasiswa))

print("")
print("noted:")
print("Tipe data dictionary adalah tipe data yang menyimpan pasangan kunci-nilai (key-value).")
print(" Dictionary berguna untuk menyimpan dan mengelola data secara efisien.")

data_mahasiswa = {'nama': 'Andi', 'nim': 'A11.2022.12345', 'jurusan': 'Teknik Informatika'} -> <class 'dict'>

In [12]:
# 7. Set
# Set adalah tipe data yang tidak terurut, unik (tiap elemen hanya muncul 1x)
himpunan_angka = {1, 2, 3, 2, 1}
print("himpunan_angka =", himpunan_angka, "->", type(himpunan_angka))

print("")
print("noted:")
print("Tipe data Set adalah tipe data kolektif yang berisi elemen-elemen unik, tidak terurut, dan tidak bisa diubah setelah dibuat")

himpunan_angka = {1, 2, 3} -> <class 'set'>

In [17]:
# 8. Contoh penggunaan konversi tipe data
nilai_str = "100"
print("\nnilai_str =", nilai_str, "->", type(nilai_str))
nilai_int = int(nilai_str)  # konversi string ke integer
print("nilai_int =", nilai_int, "->", type(nilai_int))

print("")
print("noted:")
print("Konversi tipe data adalah proses mengubah data dari satu tipe data ke tipe data lain.")

nilai_str = 100 -> <class 'str'>
nilai_int = 100 -> <class 'int'>

noted:
Konversi tipe data adalah proses mengubah data dari satu tipe data ke tipe data lain.

# Praktikum 02: Variabel dan Operasi dasar